.vcard-detail-hackerscore {
  display: flex;
}
.vcard-detail-hackerscore > span {
  flex: 1;
  vertical-align: middle !important;
  float: left;
  margin-left: 5px;
}

.vcard-detail-hackerscore > span:first-child {
    margin-left: -24px !important;
    font-weight: bold;
}
